In [1]:
colors = ['red','blue','green']

list(enumerate(colors))

[(0, 'red'), (1, 'blue'), (2, 'green')]

In [2]:
tuple(enumerate(colors))

((0, 'red'), (1, 'blue'), (2, 'green'))

In [3]:
for index, value in enumerate(colors):
    print(f'{index}:{value}')

0:red
1:blue
2:green

In [4]:
#brackets make it a list []
numbers = [2,3,5,7,11,13,17,19]

numbers[2:6]

[5, 7, 11, 13]

In [5]:
numbers[:6]

[2, 3, 5, 7, 11, 13]

In [6]:
numbers[6:]

[17, 19]

In [7]:
numbers[:]

[2, 3, 5, 7, 11, 13, 17, 19]

In [8]:
#skipping numbers in this case every 2 #'s
numbers[::2]

[2, 5, 11, 17]

In [9]:
#shadowing the numbers backwards
numbers[::-1]

[19, 17, 13, 11, 7, 5, 3, 2]

In [10]:
#replacing numbers
numbers[0:3]=['two','three','five']
numbers

['two', 'three', 'five', 7, 11, 13, 17, 19]

In [11]:
#how to delete elements
numbers[0:3] = []

In [12]:
numbers

[7, 11, 13, 17, 19]

In [13]:
#reenstate new number set 
numbers = [2,3,5,7,11,13,17,19]

In [14]:
numbers[::2] = [100,100,100,100]

In [15]:
numbers

[100, 3, 100, 7, 100, 13, 100, 19]

In [16]:
#doesnt really do anything but has its very own unique id
id(numbers)

2611305754248

In [17]:
numbers[:]=[]

In [18]:
numbers

[]

In [19]:
id(numbers)

2611305754248

In [20]:
numbers = list(range(0,10))

In [21]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
del numbers [-1]

In [23]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [24]:
del numbers [0:2]

In [25]:
numbers

[2, 3, 4, 5, 6, 7, 8]

In [26]:
del numbers [::2]

numbers

[3, 5, 7]

In [27]:
del numbers [:]

In [28]:
numbers

[]

In [29]:
#passing lists to functions
def modify_elements(items):
    for i in range(len(items)):
        items[i] *= 2
    
numbers = [10,3,7,1,9]

modify_elements(numbers)

In [30]:
numbers

[20, 6, 14, 2, 18]

In [31]:
#how to sort numbers in ascending order
numbers = [10,3,7,1]

numbers.sort()

In [32]:
numbers

[1, 3, 7, 10]

In [33]:
#how to sort numbers in descending order
numbers.sort(reverse= True)

In [34]:
numbers

[10, 7, 3, 1]